
target/test-classes/.netbeans_automatic_build
target/classes/.netbeans_automatic_build
target/WarOfAxia-1.0-SNAPSHOT.jar
target/original-WarOfAxia-1.0-SNAPSHOT.jar
juegosGuardados/guardado.2025-01-01_18-17-46_1735766266838.save
/juegosGuardados
/target/classes/META-INF
/out/artifacts/WarOfAxia_jar
.idea/artifacts/WarOfAxia_jar.xml
